@model Mioto.Models.KhachHang

@{
    ViewBag.Title = "EditInfoUser";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-content" role="document">
        <div class="modal-header">
            <h4 class="text-primary">Chỉnh sửa thông tin</h4>
        </div>
        <div class="modal-body">
            <div class="modal-input-body modal-owner-register">
                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Tên khách hàng</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên của bạn" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Căn cước công dân</p>
                            </div>
                        </div>
                        @if (Model.CCCD == "No")
                        {
                            <div class="wrap-input disabled">
                                <div class="wrap-text">
                                    <input disabled="" type="text" placeholder="Chưa xác thực CCCD" value="">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="wrap-input disabled">
                                <div class="wrap-text">
                                    <input disabled="" type="text" placeholder="@Model.CCCD" value="">
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Địa chỉ</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa chỉ của bạn" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Email</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email của bạn" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Số điện thoại</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", placeholder = "Số điện thoại của bạn" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Giới tính</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.DropDownListFor(model => model.GioiTinh, (IEnumerable<SelectListItem>)ViewBag.TinhThanhPho, "Chọn...", new { @class = "form-control", style = "font-size: 16px; width: 100%;" })
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Ngày sinh</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.NgaySinh, new { @class = "form-control", type = "date", @Value = Model.NgaySinh.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="wrap-btn btn-register" style=" width: 40%; ">
                        <button type="submit" class="btn btn--m btn-primary">Lưu thay đổi</button>
                    </div>
                    <div>
                        @Html.ActionLink("Quay lại danh sách", "InfoAccount")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

