@{
    ViewBag.Title = "MyCar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@model IEnumerable<Mioto.Models.Xe>
@{ var guest = Session["ChuXe"] as Mioto.Models.ChuXe; }

<link href="~/Content/css/table.css" rel="stylesheet" />
<div class="title" style="display: flex; justify-content: space-between">
    <div class="title-item">
        <h5>Danh sách xe của tôi</h5>
    </div>
    <a href="@Url.Action("RegisterOwner", "Car")" class="btn btn-primary" style=" font-weight: 300; ">Thêm xe</a>
</div>
@if (guest != null)
{
   <div class="">
       <div class="table100 ver2 m-b-110">
           <table data-vertable="ver2">
               <thead>
                   <tr class="row100 head" style="color: white; font-weight: 500;">
                       <th class="column100 column1">Biển số xe</th>
                       <th class="column100 column2">Hãng xe</th>
                       <th class="column100 column4">Khu vực</th>
                       <th class="column100 column6">Tính năng</th>
                       <th class="column100 column7">Trạng thái</th>
                       <th class="column100 column7">Giá thuê</th>
                       <th class="column100 column9">Hành động</th>
                   </tr>
               </thead>
               <tbody>
                   @foreach (var xe in Model)
                   {
                       <tr class="row100">
                           <td class="column100">@Html.DisplayFor(modelItem => xe.BienSoXe)</td>
                           <td class="column100">@Html.DisplayFor(modelItem => xe.HangXe)</td>
                           <td class="column100">@Html.DisplayFor(modelItem => xe.KhuVuc)</td>
                           <td class="column100">@Html.DisplayFor(modelItem => xe.TinhNang)</td>
                           <td class="column100">@Html.DisplayFor(modelItem => xe.TrangThai)</td>
                           <td class="column100">@string.Format("{0:N0} VNĐ", xe.GiaThue)</td>
                           <td class="column100">
                               @Html.ActionLink("Chỉnh sửa", "EditCar", new { BienSoXe = xe.BienSoXe }, new { @class = "btn btn-efit" })
                           </td>
                       </tr>
                   }
               </tbody>
           </table>
       </div>
   </div>
}
else
{
    <div class="empty-container">
        <img loading="lazy" src="https://www.mioto.vn/static/media/empty-mycar.e023e681.svg" alt="">
        <p>Không tìm thấy xe nào.</p>
    </div>
}

