@model IEnumerable<Mioto.Models.MD_RentedCar>

@{
    ViewBag.Title = "Rented Car";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    var khachhang = Session["KhachHang"] as Mioto.Models.KhachHang;
    var chuxe = Session["ChuXe"] as Mioto.Models.ChuXe;
}

<link href="~/Content/css/table.css" rel="stylesheet" />

<div class="title" style="display: flex; justify-content: space-between">
    <div class="title-item">
        <h5>Thông tin xe đang được khách hàng thuê</h5>
    </div>
</div>

@if (chuxe != null)
{
    if (Model.Any())
    {
        <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
                <thead>
                    <tr class="row100 head" style="color: white; font-weight: 500;">
                        <th class="column100 column1">Biển số xe</th>
                        <th class="column100 column2">Hãng xe</th>
                        <th class="column100 column4">Ngày thuê</th>
                        <th class="column100 column8">Ngày trả</th>
                        <th class="column100 column6">Tổng tiền</th>
                        <th class="column100 column7">Trạng thái</th>
                        <th class="column100 column6">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model)
                    {
                        if (car.TrangThai == 1)
                        {
                            <tr class="row100" data-id="@car.IDDT" onclick="viewDetails(this)">
                                <td class="column100 column1">@car.BienSoXe</td>
                                <td class="column100 column2">@car.HangXe</td>
                                <td class="column100 column4">@car.NgayThue.ToString("dd/MM/yyyy")</td>
                                <td class="column100 column1">@car.NgayTra.ToString("dd/MM/yyyy")</td>
                                <td class="column100 column6">@string.Format("{0:N0} VNĐ", car.TongTien)</td>
                                <td class="column100 column7">
                                    @if (car.TrangThai == 1)
                                    {
                                        <span class="badge bg-success">Đặt thuê xe</span>
                                    }
                                    else if (car.TrangThai == 2)
                                    {
                                        <span class="badge bg-secondary">Hủy chuyến</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Giao xe</span>
                                    }
                                </td>
                                <td class="column100">
                                    @Html.ActionLink("Hủy chuyến", "DeleteRentedCar", new { id = car.IDDT }, new
                                    {
                                        @class = "btn btn-delete",
                                        onclick = "return confirm('Hành động này không thể khôi phục. Tiếp tục?');"
                                    })
                                </td>
                            </tr>
                        }
                        else if (car.TrangThai == 2)
                        {
                            <tr class="row100">
                                <td class="column100 column1">@car.BienSoXe</td>
                                <td class="column100 column2">@car.HangXe</td>
                                <td class="column100 column4">@car.NgayThue.ToString("dd/MM/yyyy")</td>
                                <td class="column100 column1">@car.NgayTra.ToString("dd/MM/yyyy")</td>
                                <td class="column100 column6">@string.Format("{0:N0} VNĐ", car.TongTien)</td>
                                <td class="column100 column7">
                                    @if (car.TrangThai == 1)
                                    {
                                        <span class="badge bg-success">Đặt thuê xe</span>
                                    }
                                    else if (car.TrangThai == 2)
                                    {
                                        <span class="badge bg-secondary">Hủy chuyến</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Giao xe</span>
                                    }
                                </td>
                                <td class="column100">
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="empty-container">
            <img loading="lazy" src="https://www.mioto.vn/static/media/empty-trip.8f191e42.svg" alt="No rented cars" />
            <p>Bạn chưa có xe nào đang được thuê.</p>
        </div>
    }

}
else
{
    <div class="empty-container">
        <img loading="lazy" src="https://www.mioto.vn/static/media/empty-trip.8f191e42.svg" alt="No rented cars" />
        <p>Bạn chưa có xe nào đang được thuê.</p>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function viewDetails(row) {
            var id = row.getAttribute('data-id');
            window.location.href = '@Url.Action("CustomerDetails", "DetailAccount")/' + id;
        }
    </script>
}
