@{
    ViewBag.Title = "RegisterOwner";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@model Mioto.Models.MD_ChuXe
@{ var guest = Session["KhachHang"] as Mioto.Models.KhachHang; }

<div class="modal-content" role="document" style="width: 60%;">
    <div class="modal-header">
        <h4 class="text-primary">Đăng ký xe cho thuê</h4>
        <p class="sub-title">Bạn vui lòng điền đầy đủ thông tin, MIOTO sẽ liên hệ với bạn trong vòng một ngày làm&nbsp;việc.</p>
    </div>
    <div class="modal-body">
        <div class="modal-input-body modal-owner-register">
            <div class="line-form">
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Tên chủ xe*</p>
                        </div>
                    </div>
                    <div class="wrap-input disabled">
                        <div class="wrap-text">
                            <input disabled="" type="text" placeholder="@guest.Ten" value="">
                        </div>
                    </div>
                </div>
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Số di động*</p>
                        </div>
                    </div>
                    <div class="wrap-input disabled">
                        <div class="wrap-text">
                            <input disabled="" type="text" placeholder="@guest.SDT" value="">
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("RegisterOwner", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Khu vực cho thuê</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.DropDownListFor(model => model.KhuVuc, (IEnumerable<SelectListItem>)ViewBag.TinhThanhPho, "Chọn...", new { @class = "form-control", style = "font-size: 16px; width: 100%;" })
                            @Html.ValidationMessageFor(model => model.KhuVuc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Biển số xe*</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.BienSoXe, new { @class = "form-control", placeholder = "Biển số xe của bạn" })
                            @Html.ValidationMessageFor(model => model.BienSoXe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Hãng xe*</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.HangXe, new { @class = "form-control", placeholder = "Hãng xe của bạn" })
                            @Html.ValidationMessageFor(model => model.HangXe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Màu xe</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.MauXe, new { @class = "form-control", placeholder = "Màu xe của bạn" })
                            @Html.ValidationMessageFor(model => model.MauXe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Số ghế</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.SoGhe, new { @class = "form-control", placeholder = "Số ghế xe của bạn" })
                            @Html.ValidationMessageFor(model => model.SoGhe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Tính năng</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.TinhNang, new { @class = "form-control", placeholder = "Tính năng xe của bạn" })
                            @Html.ValidationMessageFor(model => model.TinhNang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Năm sản xuất</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.NamSanXuat, new { @class = "form-control", placeholder = "Năm sản xuất xe của bạn" })
                            @Html.ValidationMessageFor(model => model.NamSanXuat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Giá cho thuê xe</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(model => model.GiaThue, new { @class = "form-control", placeholder = "Giá cho thuê xe của bạn" })
                            @Html.ValidationMessageFor(model => model.GiaThue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Hình ảnh xe*</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            <input type="file" name="HinhAnh[]" class="form-control" multiple />
                            @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="wrap-btn btn-register">
                    <button type="submit" class="btn btn--m btn-primary">Gửi thông tin đến MIOTO</button>
                </div>
            }
        </div>
    </div>
</div>
