@{var chuxe = Session["ChuXe"] as Mioto.Models.ChuXe;}
@{var quanly = Session["QuanLy"] as Mioto.Models.NhanVien;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--Header navbar-->
    <section class="header scroll-top">
        <div class="m-container">
            <!--Logo-->
            <a href="@Url.Action("Home", "Home")" class="logo-container">
                <div class="full-logo">
                    <img src="~/Image/logo-mioto.png" alt="Mioto" />
                </div>
                <div class="short-logo">
                    <img src="~/Image/short-logo-mioto.png" loading="lazy" />
                </div>
            </a>
        </div>
    </section>

    <section class="body">
        <div class="account-section sec space">
            <div class="m-container">
                <div class="account-container">
                    <!--Slidebar left-->
                    <div class="sidebar-account">
                        <div>
                            <div style="padding-bottom: 0px;"></div>
                            <div class="sidebar-account-sticky" style="transform: translateZ(0px);">
                                <div class="title">
                                    <h4>Xin chào bạn!</h4>
                                </div>
                                <div class="sidebar">
                                    <a href="@Url.Action("InfoAccount", "Admin")" class="sidebar-item active">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.76 10.86C13.3782 10.86 14.69 9.54819 14.69 7.93C14.69 6.31181 13.3782 5 11.76 5C10.1418 5 8.83 6.31181 8.83 7.93C8.83 9.54819 10.1418 10.86 11.76 10.86Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.84 19.0001V17.3301C5.84 15.3801 7.42 13.8101 9.36 13.8101H14.63C16.58 13.8101 18.15 15.3901 18.15 17.3301V19.0001" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Tài khoản của tôi</p>
                                    </a>

                                    @if (quanly != null)
                                    {
                                        <a href="@Url.Action("ManagerEmployee", "Admin")" class="sidebar-item " style="align-items: center;">
                                            <div class="wrap-svg">
                                                <i style=" height: 24px; width: 24px; display: flex; align-items: center;;" class="fa-solid fa-people-roof"></i>                                            </div>
                                            <p>Quản lý nhân viên</p>
                                        </a>
                                    }

                                    <a href="@Url.Action("ListCarsInSystem", "Admin")" class="sidebar-item " style="align-items: center;">
                                        <div class="wrap-svg">
                                            <i style=" height: 24px; width: 24px; display: flex; align-items: center;" class="fa-solid fa-user-tie"></i>                                        </div>
                                        <p>Quản lý khách hàng</p>
                                    </a>

                                    <a href="@Url.Action("ManagerDiscount", "Admin")" class="sidebar-item ">
                                        <div class="wrap-svg" style="align-items: center;">
                                            <i style=" height: 24px; width: 24px; display: flex; align-items: center;" class="fa-solid fa-percent"></i>
                                        </div>
                                        <p>Mã giảm giá</p>
                                    </a>

                                    <a href="@Url.Action("RentedCompany", "Admin")" class="sidebar-item ">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.139 18.6829L21.249 18.6829L21.249 12.7429L17.139 12.7429L17.139 18.6829Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.9441 18.6814L13.9541 18.6814L13.9541 9.0314L9.9441 9.0314L9.9441 18.6814Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.75133 18.6802L6.86133 18.6802L6.86133 5.32018L2.75133 5.32018L2.75133 18.6802Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Doanh thu công ty</p>
                                    </a>


                                    <a href="@Url.Action("ListCarsInSystem", "Admin")" class="sidebar-item " style="align-items: center;">
                                        <div class="wrap-svg">
                                            <i style=" height: 24px; width: 24px; display: flex; align-items: center;" class="fa-solid fa-car-rear"></i>                                        </div>
                                        <p>Danh sách xe trên hệ thống</p>
                                    </a>


                                    <div class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 2.74907H18.12C18.9125 2.71374 19.6868 2.99377 20.2734 3.52788C20.86 4.06199 21.2111 4.8067 21.25 5.59907V18.3991C21.2111 19.1914 20.86 19.9362 20.2734 20.4703C19.6868 21.0044 18.9125 21.2844 18.12 21.2491H12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M14.9993 12H2.7793" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M2.75 12L6.75 16" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M2.75 12L6.75 8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Đăng xuất", "Logout", "DetailAccount", null, new { @class = "logout-link", onclick = "return confirm('Bạn sẽ đăng xuất ra khỏi tài khoản hiện tại?');" })
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Slidebar right-->
                    <div class="content-account">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>