@{var chuxe = Session["ChuXe"] as Mioto.Models.ChuXe;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
</head>
<body>
    <!--Header navbar-->
    <section class="header scroll-top">
        <div class="m-container">
            <!--Logo-->
            <a href="@Url.Action("Home", "Home")" class="logo-container">
                <div class="full-logo">
                    <img src="~/Image/logo-mioto.png" alt="Mioto" />
                </div>
                <div class="short-logo">
                    <img src="~/Image/short-logo-mioto.png" loading="lazy" />
                </div>
            </a>
            <!--Menu-top-->
            <div class="menu-container">
                <a href="@Url.Action("About", "Home")">Về Mioto</a>
                @if (chuxe == null)
                {
                    <a href="@Url.Action("IntroOwnerCar", "Home")">Trở thành chủ xe</a>
                }
                <div></div>
                @if (Session["KhachHang"] == null)
                {
                    <a href="@Url.Action("Register", "Account")" class="btn btn--s sign-in">Đăng ký</a>
                    <a href="@Url.Action("Login", "Account")" class="btn btn--s">Đăng nhập</a>
                }
            </div>
        </div>
    </section>

    <section class="body">
        <div class="account-section sec space">
            <div class="m-container">
                <div class="account-container">
                    <!--Slidebar left-->
                    <div class="sidebar-account">
                        <div>
                            <div style="padding-bottom: 0px;"></div>
                            <div class="sidebar-account-sticky" style="transform: translateZ(0px);">
                                <div class="title">
                                    <h4>Xin chào bạn!</h4>
                                </div>
                                <div class="sidebar">
                                    <a href="@Url.Action("InfoAccount", "DetailAccount")" class="sidebar-item active">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.76 10.86C13.3782 10.86 14.69 9.54819 14.69 7.93C14.69 6.31181 13.3782 5 11.76 5C10.1418 5 8.83 6.31181 8.83 7.93C8.83 9.54819 10.1418 10.86 11.76 10.86Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5.84 19.0001V17.3301C5.84 15.3801 7.42 13.8101 9.36 13.8101H14.63C16.58 13.8101 18.15 15.3901 18.15 17.3301V19.0001" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Tài khoản của tôi</p>
                                    </a>

                                    <a href="@Url.Action("MyCar", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.15 15.7199H19.6C20.51 15.7199 21.24 14.8599 21.24 13.8399V12.4499C21.24 11.7199 20.86 11.0399 20.27 10.7399L18.79 9.96995L17.47 7.59994C17.09 6.90994 16.42 6.49994 15.71 6.50994H10.12C9.47 6.50994 8.86 6.84995 8.47 7.42995L6.77 9.93994L3.96 10.7999C3.24 11.0199 2.75 11.7599 2.75 12.5999V13.8299C2.75 14.8499 3.48 15.7099 4.39 15.7099H4.63" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.86914 15.7207H14.7691" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.68914 17.4603C7.83237 17.4603 8.75914 16.5335 8.75914 15.3903C8.75914 14.2471 7.83237 13.3203 6.68914 13.3203C5.54591 13.3203 4.61914 14.2471 4.61914 15.3903C4.61914 16.5335 5.54591 17.4603 6.68914 17.4603Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.0798 17.4603C18.223 17.4603 19.1498 16.5335 19.1498 15.3903C19.1498 14.2471 18.223 13.3203 17.0798 13.3203C15.9365 13.3203 15.0098 14.2471 15.0098 15.3903C15.0098 16.5335 15.9365 17.4603 17.0798 17.4603Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Xe của tôi</p>
                                    </a>

                                    <a href="@Url.Action("MyTrip", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.50023 8.86914H4.80023C3.66023 8.86914 2.74023 9.78914 2.74023 10.9291V18.1191C2.74023 19.2591 3.66023 20.1791 4.80023 20.1791H19.1902C20.3302 20.1791 21.2502 19.2591 21.2502 18.1191V10.9291" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.1095 8.86914H10.2695" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.1094 16.0605H19.1894C20.3294 16.0605 21.2494 16.9805 21.2494 18.1205C21.2494 19.2605 20.3294 20.1805 19.1894 20.1805H16.1094" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.1094 5.7793H19.1894C20.3294 5.7793 21.2494 6.6993 21.2494 7.8393" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21.25 18.1198V7.83984" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.1094 5.7793V16.0593" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.75 14.0098H6.86C7.43 14.0098 7.89 14.3998 7.89 14.8898C7.89 15.3798 8.35 15.7698 8.92 15.7698H9.95C10.52 15.7698 10.98 16.1598 10.98 16.6498V17.5298V20.1698" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.40007 3.83008C6.98007 3.83008 5.83008 4.98008 5.83008 6.40008C5.83008 8.16008 8.13007 10.7401 8.23007 10.8501C8.32007 10.9501 8.48008 10.9501 8.57008 10.8501C8.67008 10.7401 10.9701 8.16008 10.9701 6.40008C10.9701 4.98008 9.82007 3.83008 8.40007 3.83008Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.39977 7.37961C8.8913 7.37961 9.28976 6.98114 9.28976 6.48961C9.28976 5.99808 8.8913 5.59961 8.39977 5.59961C7.90823 5.59961 7.50977 5.99808 7.50977 6.48961C7.50977 6.98114 7.90823 7.37961 8.39977 7.37961Z" fill="black"></path></svg>
                                        </div>
                                        <p>Xe đang thuê</p>
                                    </a>

                                    <a href="@Url.Action("RentedCar", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.15 16.8254H19.6C20.51 16.8254 21.24 15.9654 21.24 14.9454V13.5554C21.24 12.8254 20.86 12.1454 20.27 11.8454L18.79 11.0754L17.47 8.70541C17.09 8.01541 16.42 7.60541 15.71 7.61541H10.12C9.47 7.61541 8.86 7.95542 8.47 8.53542L6.77 11.0454L3.96 11.9054C3.24 12.1254 2.75 12.8654 2.75 13.7054V14.9354C2.75 15.9554 3.48 16.8154 4.39 16.8154H4.63" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.86914 16.8262H14.7691" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.68914 18.5658C7.83237 18.5658 8.75914 17.639 8.75914 16.4958C8.75914 15.3526 7.83237 14.4258 6.68914 14.4258C5.54591 14.4258 4.61914 15.3526 4.61914 16.4958C4.61914 17.639 5.54591 18.5658 6.68914 18.5658Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.0798 18.5658C18.223 18.5658 19.1498 17.639 19.1498 16.4958C19.1498 15.3526 18.223 14.4258 17.0798 14.4258C15.9365 14.4258 15.0098 15.3526 15.0098 16.4958C15.0098 17.639 15.9365 18.5658 17.0798 18.5658Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.7729 13.1043C14.0369 13.1043 11.8203 10.8877 11.8203 8.15176C11.8203 5.41582 14.0369 3.19922 16.7729 3.19922C19.5088 3.19922 21.7254 5.41582 21.7254 8.15176C21.7254 10.8877 19.5088 13.1043 16.7729 13.1043Z" fill="white"></path><path d="M16.5263 8.99701L15.584 8.05469" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18.41 7.11328L16.5254 8.99793" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Danh sách xe khách hàng thuê</p>
                                    </a>

                                    <a href="@Url.Action("RevenueChart", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.139 18.6829L21.249 18.6829L21.249 12.7429L17.139 12.7429L17.139 18.6829Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.9441 18.6814L13.9541 18.6814L13.9541 9.0314L9.9441 9.0314L9.9441 18.6814Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.75133 18.6802L6.86133 18.6802L6.86133 5.32018L2.75133 5.32018L2.75133 18.6802Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Doanh thu</p>
                                    </a>

                                    <a href="@Url.Action("Gift", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.7793 12H9.9493V21.23H5.9593C4.7593 21.23 3.7793 20.25 3.7793 19.05V12V12Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.2208 12V19.05C20.2208 20.25 19.2408 21.23 18.0408 21.23H14.0508V12H20.2208Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4.63 6.83984H9.94V11.9998H2.75V8.71984C2.75 7.67984 3.59 6.83984 4.63 6.83984Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21.2505 8.71984V11.9998H14.0605V6.83984H19.3705C20.4105 6.83984 21.2505 7.67984 21.2505 8.71984Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.0495 6.83984H9.93945V21.2298H14.0495V6.83984Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.0495 21.2305H9.93945V21.2505H14.0495V21.2305Z" fill="black" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12.0199 4.8C12.0199 5.37 11.7899 5.88 11.4199 6.25C11.0499 6.62 10.5399 6.85 9.96992 6.85H9.93993C9.38993 6.84 8.87993 6.61 8.51993 6.25C8.14993 5.88 7.91992 5.37 7.91992 4.8C7.91992 3.67 8.82992 2.75 9.96992 2.75C10.5399 2.75 11.0499 2.98 11.4199 3.35C11.7899 3.72 12.0199 4.23 12.0199 4.8Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.1008 2.75C12.9708 2.75 12.0508 3.67 12.0508 4.8C12.0508 5.93 12.9708 6.85 14.1008 6.85C15.2308 6.85 16.1508 5.93 16.1508 4.8C16.1508 3.67 15.2308 2.75 14.1008 2.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Quà tặng</p>
                                    </a>

                                    <a href="@Url.Action("ChangePassword", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10V8C6 4.69 7 2 12 2C17 2 18 4.69 18 8V10" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 18.5C13.3807 18.5 14.5 17.3807 14.5 16C14.5 14.6193 13.3807 13.5 12 13.5C10.6193 13.5 9.5 14.6193 9.5 16C9.5 17.3807 10.6193 18.5 12 18.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17 22H7C3 22 2 21 2 17V15C2 11 3 10 7 10H17C21 10 22 11 22 15V17C22 21 21 22 17 22Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Đổi mật khẩu</p>
                                    </a>

                                    <a href="@Url.Action("RequestDeleteAccount", "DetailAccount")" class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6699 8.91992V18.1699C18.6699 19.8699 17.2898 21.2499 15.5898 21.2499H9.41985C7.71985 21.2499 6.33984 19.8699 6.33984 18.1699V8.91992" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4.2793 5.83008H20.7193" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.41992 5.83002C9.41992 4.13002 10.7999 2.75 12.4999 2.75C14.1999 2.75 15.5799 4.13002 15.5799 5.83002" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.4395 12L14.5594 16.11" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M14.5594 12L10.4395 16.11" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </div>
                                        <p>Yêu cầu xoá tài khoản</p>
                                    </a>

                                    <div class="sidebar-item">
                                        <div class="wrap-svg">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 2.74907H18.12C18.9125 2.71374 19.6868 2.99377 20.2734 3.52788C20.86 4.06199 21.2111 4.8067 21.25 5.59907V18.3991C21.2111 19.1914 20.86 19.9362 20.2734 20.4703C19.6868 21.0044 18.9125 21.2844 18.12 21.2491H12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M14.9993 12H2.7793" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M2.75 12L6.75 16" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M2.75 12L6.75 8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </div>
                                        <p>
                                            @Html.ActionLink("Đăng xuất", "Logout", "DetailAccount", null, new { @class = "logout-link", onclick = "return confirm('Bạn sẽ đăng xuất ra khỏi tài khoản hiện tại?');" })

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Slidebar right-->
                    <div class="content-account">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    @RenderSection("Scripts", required: false)
</body>
</html>