
@{
    ViewBag.Title = "AllEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Mioto.Models;
@model List<Events>

@if (Model.Count != 0)
{
    <div>
        @foreach (Events calendarEvent in Model)
        {
            <div style="margin: 30px" class="row">
                <a style="cursor: pointer; text-decoration: none" class="col-sm-4" onclick="location.href = '@Url.Action("Event", "CalendarEvent", new {identifier = calendarEvent})'">
                    <p>Summary: @calendarEvent.Summary</p>
                    <p>Description: @calendarEvent.Desciption</p>
                    <p>Start Date Time: @(DateTime.Parse(@calendarEvent.Start.DateTime).ToString("dd-MMM-yyyy hh:mm")) (@calendarEvent.Start.TimeZone);</p>
                    <p>End Date Time: @(DateTime.Parse(@calendarEvent.End.DateTime).ToString("dd-MMM-yyyy hh:mm")) (@calendarEvent.End.TimeZone);</p>
                </a>
                <a style="cursor: pointer; text-decoration: none; color: green;" onclick="location.href = '@Url.Action("UpdateEvent", "CalendarEvent", new {identifier = calendarEvent.Id})'">Edit</a>
                <a style="cursor: pointer; text-decoration: none; color: red;" onclick="location.href = '@Url.Action("DeleteEvent", "CalendarEvent", new {identifier = calendarEvent.Id})'">Delete</a>
            </div>
        }
    </div>
}
else
{
    <div style="margin: 30px; font-size: 20px">
        No events found
    </div>
}

