@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@model Mioto.Models.MD_Login

<div class="modal-content" style="width: 50%;">
    <div class="modal-header">
        <h5>Đăng nhập</h5>
    </div>
    <div class="modal-body">
        <div class="modal-input-body modal-login-body">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Email</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email", autofocus = "autofocus" })
                        </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="line-form">
                    <div class="custom-input">
                        <div class="wrap-info">
                            <div class="title-status">
                                <p>Mật khẩu</p>
                            </div>
                        </div>
                        <div class="wrap-input">
                            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                        </div>
                            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>
                if (ViewBag.ErrorLogin != null)
                {
                    <div style="color: #f02849; font-family: SFProText-Regular, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; margin-top: 8px; text-align: center;">@ViewBag.ErrorLogin</div>
                }

                <div class="block-content textAlign-right">
                    <a href="#" class="fontWeight-6 font-14">Quên mật khẩu?</a>
                </div>

                <div class="wrap-btn btn-register">
                    <button type="submit" class="btn btn--m btn-primary" style=" width: 100%;">Đăng nhập</button>
                </div>

                <p class="wrap-btn btn-register" style="text-align: center;">Bạn chưa là thành viên? <a href="@Url.Action("Register", "Account")" style="color: #5fcf86;">Đăng ký ngay</a></p>
                <!--<div class="wrap-btn db-btn-svg" style=" display: flex; gap: 10px;">
                    <a href="#" class="btn btn--s btn-secondary">
                        <div class="wrap-svg">-->
                            <!-- Replace with Facebook SVG icon -->
                        <!--</div>
                        <span>Facebook</span>
                    </a>

                    <a href="#" class="btn btn--s btn-secondary">
                        <div class="wrap-svg">-->
                            <!-- Replace with Google SVG icon -->
                        <!--</div>
                        <span>Google</span>
                    </a>
                </div>-->
            }
        </div>
    </div>
</div>
